
@{
    ViewBag.Title = "ReadMore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iBlog</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="@Url.Action("Index", "Blog")" class="btn btn-primary btn-lg">Post Blog &raquo;</a></p>
</div>

<div class="row">
   
        <div class="col-md-4">
            <h2></h2>
            <p>
               
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Read More &raquo;</a></p>
        </div>
    

</div>

